.footer-container{
    background-color: get-color(secondary);
    padding-top: 40px;
    padding-bottom: 40px;
    color: get-color(light);
    .container{
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.footer-container__copyright{
    font-size: 14px;
    color: get-color(dark);
    a{
        text-decoration: underline;
    }
}

.footer-container__menu-column{
    margin-bottom: 40px;
    @include media (get-bp(desktop)){
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0;
    }
    .footer-menu-item{
        font-weight: bold;
        font-size: 16px;
        line-height: 1.2;
        display: inline-flex;
        @include media (get-bp(desktop)){
            margin-left: 10px;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

.footer-container__social-column{
    margin-bottom: 120px;

    @include media (get-bp(desktop)){
        display: flex;
        align-items: center;
        margin-left: unset;
    }
    .social-listing{
        justify-content: flex-start;
        .social-listing__item{
            color: get-color(dark);
            font-size: 32px;
            @include media (get-bp(desktop)){
                font-size: 24px;
            }
        }
    }
    .idx-logo{
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        img{
            transition: 400ms;
        }
    }
}
